<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="learning order of execution">
        <classes>
            <class name="testNG.AnnotationHierachyExample">
                <methods>
                    <include name="test01"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>